{% extends 'base.html' %}
{% block title %}
    Login Page
{% endblock %}

{% block content %}
<br>
<body class="text-center">
<div class="container">
    <form method="POST" class="form-login" style="color:rgb(0, 0, 0)">
        {{ form.hidden_tag() }}
            <h1 class="h3 mb-3 font-weight-normal">
                Login
            </h1>
        
        {{ form.username.label() }} 
        {{ form.username(class="form-control", placeholder="User Name") }}
        
        {{ form.password.label() }}
        {{ form.password(class="form-control", placeholder="Password") }}
        <br>
        <div class="checkbox mb-3">
            <h6>I don't have email create new one <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a></h6>
            
        </div>
        {{ form.submit(class="btn btn-lg btn-block btn-primary")}}
    </form>
</div>
</body>
{% endblock %}